@page
@model EventSchedulePro.Pages.Admin.GroupModel
@using MySql.Data.MySqlClient
@inject IHttpContextAccessor _httpContext
@{
}
<div class="row">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <select asp-for="Input.Username" class="form-select" aria-label="Default select example">
                        <option selected id="-1">Select user</option>
                        @{

                            using (MySqlConnection conn = new MySqlConnection("server=104.238.129.230;uid=jinzschedule;pwd=Metmoivl@123.@124!;database=jinzschedule;connect Timeout=30"))
                            {
                                conn.Open();
                                string sql = "SELECT * from user where  RoleUser <> 3";
                                MySqlCommand cmd = new MySqlCommand(sql, conn);
                                using (MySqlDataReader rdr = cmd.ExecuteReader())
                                {
                                    while (rdr.Read())
                                    {
                                        <option value=@rdr.GetInt32(0).ToString()>@rdr.GetString(1)</option>
                                      
                                    }
                                }
                            }
                        }
                    </select>
                    <label asp-for="Input.Username" class="form-label">UserName</label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <select id="choices-multiple-remove-button" class="select_all" multiple asp-for="Input.GroupList">
                        @{

                            using (MySqlConnection conn = new MySqlConnection("server=104.238.129.230;uid=jinzschedule;pwd=Metmoivl@123.@124!;database=jinzschedule;connect Timeout=30"))
                            {
                                conn.Open();
                                string sql = "SELECT * from GroupSchedule";
                                MySqlCommand cmd = new MySqlCommand(sql, conn);
                                using (MySqlDataReader rdr = cmd.ExecuteReader())
                                {
                                    while (rdr.Read())
                                    {
                                        <option value=@rdr.GetInt32(0).ToString()>@rdr.GetString(1)</option>

                                    }
                                }
                            }
                        }
                    </select>
                    <span asp-validation-for="Input.GroupList" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-primary">Add/Edit user group</button>
                </div>
                <div>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-8">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">UserName</th>
                    <th scope="col">Group</th>
                </tr>
            </thead>
            <tbody>
                @{

                    using (MySqlConnection conn = new MySqlConnection("server=104.238.129.230;uid=jinzschedule;pwd=Metmoivl@123.@124!;database=jinzschedule;connect Timeout=30"))
                    {
                        conn.Open();
                        string sql = "select us.id,us.username, CASE WHEN gd.id IS NULL THEN 'None' ELSE gd.name END AS name,CASE WHEN  us.groupnames IS NULL THEN 'None' ELSE  us.groupnames END AS groupnames from user us left join GroupSchedule gd on us.groupid = gd.id";
                        MySqlCommand cmd = new MySqlCommand(sql, conn);
                        using (MySqlDataReader rdr = cmd.ExecuteReader())
                        {
                            while (rdr.Read())
                            {
                                string class_ge = "table-primary";
                                var groupuser = rdr.GetString(2).ToLower();
                                class_ge = groupuser.IndexOf("blue") != -1 ? "table-primary" : groupuser.IndexOf("yellow") != -1 ? "table-warning" : groupuser.IndexOf("pink") != -1 ? "table-danger" : groupuser.IndexOf("green") != -1 ? "table-success" : groupuser.IndexOf("hsc") != -1 ? "table-secondary" : "table-light";
                               /* tbutton = tbutton.Replace("Blue", "<button type=\"button\" class=\"btn btn-outline-primary\">Blue</button>");
                                tbutton = tbutton.Replace("Yellow", "<button type=\"button\" class=\"btn btn-outline-warning\">Yellow</button>");
                                tbutton = tbutton.Replace("Pink", "<button type=\"button\" class=\"btn btn-outline-danger\">Pink</button>");
                                tbutton = tbutton.Replace("Green", "<button type=\"button\" class=\"btn btn-outline-success\">Green</button>");
                                tbutton = tbutton.Replace("HSC ", "<button type=\"button\" class=\"btn btn-outline-secondary\">HSC</button>");
                                */
                                var tbutton = @rdr.GetString(3).Replace(" ", "").Split(",");
                                bool tbuttonx = false;
                                <tr>
                                    <th scope="row">@rdr.GetInt32(0).ToString()</th>
                                    <td> @rdr.GetString(1)</td>
                                    <td>
                                        @if (tbutton.Length > 0)
                                        {

                                            foreach (var item in tbutton)
                                            {
                                                if (item == "Blue")
                                                {
                                                    <button type="button" class="btn btn-outline-primary">Blue</button>
                                                    tbuttonx = true;
                                                }
                                                if (item ==  "Yellow")
                                                {
                                                    <button type="button" class="btn btn-outline-warning">Yellow</button>
                                                    tbuttonx = true;
                                                }
                                                if (item == "Pink")
                                                {
                                                    <button type="button" class="btn btn-outline-danger">Pink</button>
                                                    tbuttonx = true;
                                                }
                                                if (item == "Green")
                                                {
                                                    <button type="button" class="btn btn-outline-success">Green</button>
                                                    tbuttonx = true;
                                                }
                                                if (item == "HSC")
                                                {
                                                    <button type="button" class="btn btn-outline-secondary">HSC</button>
                                                    tbuttonx = true;
                                                }
                                          }
                                            if (!tbuttonx)
                                            {
                                                <button type="button" class="btn btn-outline-dark">None</button>
                                          }
                                        }
                                    </td>
                                </tr>
                            }
                        }
                    }
                }

            </tbody>
        </table>
    </div>
</div>
@section scripts {
    <script>
        $(function () {
            $('#choices-multiple-remove-button').formSelect();
            $('#choices-multiple-remove-button.select_all').siblings('ul').prepend('<li id=sm_select_all><span>Select All</span></li>');
            $('li#sm_select_all').on('click', function () {
                var jq_elem = $(this),
                    jq_elem_span = jq_elem.find('span'),
                    select_all = jq_elem_span.text() == 'Select All',
                    set_text = select_all ? 'Select None' : 'Select All';
                jq_elem_span.text(set_text);
                jq_elem.siblings('li').filter(function () {
                    return $(this).find('input').prop('checked') != select_all;
                }).click();
            });

        })
    </script>
}