@page
@using EventSchedulePro.Data.Context
@model EventSchedulePro.Pages.AllScheduleModel
@inject EventDBContext _context;
@{
    var EventSchedules = (from sc in _context.Schedules
                   join grj in _context.Groups on sc.GroupID ?? "" equals grj.Id.ToString() into grs
                   from gr in grs.DefaultIfEmpty()
                   select new
                   {
                       id = sc.Id,
                       name = sc.Name,
                       activity = sc.Activity ?? "",
                       studentLeader = sc.StudentLeader ?? "",
                       note = sc.Note ?? "",
                       date = sc.Date,
                       location = sc.Location,
                       groupName = gr != null ? gr.Name : "None",
                       groupId = sc.GroupID,
                       fromTime = sc.FromTime ?? "",
                       toTime = sc.ToTime ?? "",
                       StaffNames = sc.StaffNames
                   }).ToList();
}
<div class="col-md-12">
<button class="btn btn-outline-primary" id="printable" style="width:100%">Print data</button>
<br/>
</div>
<div class="row" id="printTable">
    @{
      
    }
    <div class="col-md-12">
        <ul class="timeline" >
            @{
                if (EventSchedules != null && EventSchedules.Count > 0)
                {
                    @foreach(var item in  EventSchedules)
                    {
                        <li>
                            <p class="timeline-date">@item.fromTime - @item.toTime </p>
                            <div class="timeline-content">
                                <h3>@item.activity</h3>
                                <p>
                                    Notes: <b>@item.note</b> <br />
                                    Student Leader: <a style="color:green">@item.studentLeader</a><br />
                                    Staff: <a style="color:deepskyblue">@item.StaffNames</a><br />
                                    Group:  <a style="color:darkslategrey">@item.groupName</a><br />
                                    Location:  <a style="color:coral">@item.location</a>
                                </p>
                            </div>
                        </li>
                    }
                }
            }
        </ul>
    </div>
    <style>

        .timeline {
            list-style: none;
        }

            .timeline > li {
                margin-bottom: 60px;
            }

        /* for Desktop */
        @@media ( min-width : 640px ) {
            .timeline > li {
                overflow: hidden;
                margin: 0;
                position: relative;
            }

            .timeline-date {
                width: 150px;
                float: left;
                margin-top: 20px;
            }

            .timeline-content {
                width: 75%;
                float: left;
                border-left: 3px #e5e5d1 solid;
                padding-left: 30px;
            }

                .timeline-content:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    background: #6fc173;
                    position: absolute;
                    left: 146px;
                    top: 24px;
                    border-radius: 100%;
                }
        }
    </style>
</div>


@section scripts {
    <script>
        function printData() {
            var divToPrint = document.getElementById("printTable");
            newWin = window.open("");
            newWin.document.write(divToPrint.outerHTML);
            newWin.print();
            newWin.close();
        }

        $('#printable').on('click', function () {
            printData();
        })
    </script>
}