@page
@model EventSchedulePro.Pages.ExcelReaderModel
@{
}
<div class="row">
    <div class="col-md-2">
<form method="post" enctype="multipart/form-data">
<div class="row">
    <label>Select File</label>
    <input type="file" name="file" />
</div>
<div class="row">
    <input type="submit" class="btn btn-dark" value="Export Data" asp-page-handler="UpdateFile" />
</div>
</form>
</div>
<!--
    <div class="col-md-10">
       @{
            var asd = @ViewData["Exceptiona"] != null ? @ViewData["Exceptiona"]?.ToString() : "";
       }
        @asd
        <table class="table">
            <thead>
                <tr>


        @{
            var t =(List<List<object>>)ViewData["ExcelData"];
            if (t != null && t.Count > 0)
            {
                @foreach(var header in t[0])
                {
                    <th>@header</th>
                }
            }
        }
                </tr>
            </thead>
            <tbody>

                @{
                    if (t != null && t.Count > 0)
                    {
                        @for (int i=1; i<t.Count(); i++)
                        {
                            <tr>
                            @foreach (var cell in t[i])
                            {
                            <td>@cell</td>
                        }
                            </tr>
                        }
                    }
                }
            </tbody>
        </table>
    </div>
        -->
    @{
        var tlist = (List<List<object>>)ViewData["ExcelData"];
    }
    <div class="col-md-10">
    <ul class="timeline" id="printTable">
        @{
                if (tlist != null && tlist.Count > 0)
            {
                @for (int i = 1; i < tlist.Count(); i++)
                {
                    <li>
                        <p class="timeline-date">@tlist[i][0]</p>
                        <div class="timeline-content">
                            <h3>@tlist[i][1]</h3>
                            <p>Notes: <b>@tlist[i][2]</b> <br/>
                                Student Leader: <a style="color:green">@tlist[i][3]</a><br />
                                Staff: <a style="color:deepskyblue">@tlist[i][5]</a><br />
                                Group:  <a style="color:darkslategrey">@tlist[i][4]</a><br />
                                Location:  <a style="color:coral">@tlist[i][6]</a>
                            </p>
                        </div>
                    </li>
                }
            }
        }
    </ul>
    </div>
</div>
<style>
.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}

/* for Desktop */
@@media ( min-width : 640px ){
  .timeline > li {
    overflow: hidden;
    margin: 0;
    position: relative;
  }
  .timeline-date {
    width: 150px;
    float: left;
    margin-top: 20px;
  }
  .timeline-content {
    width: 75%;
    float: left;
    border-left: 3px #e5e5d1 solid;
    padding-left: 30px;
  }
  .timeline-content:before {
    content: '';
    width: 12px;
    height: 12px;
    background: #6fc173;
    position: absolute;
    left: 146px;
    top: 24px;
    border-radius: 100%;
  }
}
</style>
